{extend name="base" /}
{block name="body"}
<div class="layui-row">
    <div class="layui-col-md7 btn_tools">
        <button class="layui-btn" data-type="AddAdmin">增加线路</button>
    </div>
    <div class="layui-col-md5" style="text-align: right;">
        <div class="layui-input-inline" style="width: 300px;">
            <input type="text" name="k" id="key" value="" placeholder="名称" class="layui-input key">
        </div>
        <button type="button" class="layui-btn sou">搜索</button>
    </div>
    <div class="line_20"></div>
    <div class="layui-col-md12">
        <table class="layui-hide" id="table_lay" lay-filter="userTable"></table>
    </div>
</div>
{/block}

{block name="script"}
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script>
    layui.config({
        base: '/layuiadmin/'
    }).extend({
        index: 'lib/index'
    }).use(['index','table','curl'],function () {
        let $ = layui.jquery,table = layui.table,curl = layui.curl;

        let render_table =table.render({
            elem: '#table_lay'
            ,url:'/admin/api.line/getLineData'
            ,parseData: function(res){
                return {
                    "code": 0,
                    "msg": res.msg,
                    "count": res.data.total,
                    "data": res.data.data
                };
            }
            ,page:true
            ,limit:20
            ,cellMinWidth: 80
            ,cols: [[
                {field:'id', width:80, title: 'ID', sort: true}
                ,{field:'name', title: '名称'}
                ,{ width:137, title: '操作',toolbar: '#barDemo'}
            ]]
        });


        $('.sou').on('click',function (that) {
            render_table.reload({
                where:{
                    key:$('#key').val()
                }
            });
        });


        table.on('tool(userTable)', function(obj){
            let data = obj.data;
            if(obj.event === 'edit'){
                let index = layer.open({
                    title:'修改'+data.name,
                    type:2,
                    content: ['/line/edit?id='+data.id, 'no'],
                    area:['500px','200px'],
                    success: function(layero, index) {
                    },
                });
            }else if (obj.event === 'del'){
                layer.confirm('真的删除['+data.name+']?', function(index){
                    curl.ajax('/admin/api.line/del','post',{id:data.id},function (res) {
                        layer.msg(res.msg);
                    });
                    obj.del();
                    layer.close(index);
                });
            }
        });

        let active = {
            AddAdmin: function(){
                let index = layer.open({
                    title:'添加线路',
                    type:2,
                    content: ['/line/create?', 'no'],
                    area:['500px','200px'],
                    success: function(layero, index) {
                    },
                });
            }
        };

        $('.btn_tools .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });
</script>
{/block}