{extend name="base" /}
{block name="body"}
<form class="layui-form" action="" lay-filter="role_form">


    <div class="layui-form-item">
        <label class="layui-form-label label_two">权限</label>
        <div class="layui-input-block label_two_div">
            <div id="tree" class="demo-tree-more"></div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" lay-filter="add">立即提交</button>
        </div>
    </div>
</form>
{/block}

{block name="script"}
<script>
    layui.config({
        base: '/layuiadmin/'
    }).extend({
        index: 'lib/index'
    }).use(['index', 'form', 'curl', 'tree'], function () {
        let $ = layui.jquery,
            curl = layui.curl,
            tree = layui.tree,
            form = layui.form;

        curl.ajax('{:url("api.permission/list")}', 'get', {id: '{$info.id}'}, function (res) {
            if (res.status) {
                tree.render({
                    elem: '#tree'
                    , data: res.data
                    , showCheckbox: true
                    , id: 'treeClick'
                });
            } else {
                layer.msg(res.msg);
            }
        });


        let iframe = parent.layer.getFrameIndex(window.name);

        form.on('submit(add)', function (data) {
            const field = data.field;
            field.permissions = tree.getChecked('treeClick');
            field.id = '{$info.id}';
            curl.ajax('{:url("api.role/power")}', 'post', field, function (res) {
                layer.msg(res.msg);
                if (res.status) {
                    setTimeout(function () {
                        parent.layer.close(iframe);
                        parent.location.reload();
                    }, 1000)
                }
            });
            return false;
        });


    });
</script>
{/block}