<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{if is_admin()}晨明网络{else}外贸管理系统{/if}</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/layuiadmin/style/admin.css" media="all">
    <link rel="stylesheet" href="/layuiadmin/style/style.css" media="all">
</head>
<body class="layui-layout-body">

<div id="LAY_app">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <!-- 头部区域 -->
            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item layadmin-flexible" lay-unselect>
                    <a href="javascript:;" layadmin-event="flexible" title="侧边伸缩">
                        <i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i>
                    </a>
                </li>
                <!--<li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <a href="http://www.layui.com/admin/" target="_blank" title="前台">
                        <i class="layui-icon layui-icon-website"></i>
                    </a>
                </li>-->
                <li class="layui-nav-item" lay-unselect>
                    <a href="javascript:;" layadmin-event="refresh" title="刷新">
                        <i class="layui-icon layui-icon-refresh-3"></i>
                    </a>
                </li>
                <!--<li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <input type="text" placeholder="搜索..." autocomplete="off" class="layui-input layui-input-search" layadmin-event="serach" lay-action="template/search.html?keywords=">
                </li>-->
                {if !is_admin()}
                <li class="layui-nav-item layui-hide-xs" style="color: red">
                    <span id="money_id">
                    可用余额：<b class="now_money">{$money.money}</b>元
                    </span>
                    <a style="color: blue;font-weight: bold;display: inline-block;cursor: pointer;margin-left: 10px;" id="update">刷新</a>
                </li>
                {/if}
            </ul>
            <ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-right">

                <!--<li class="layui-nav-item" lay-unselect>
                    <a lay-href="app/message/index.html" layadmin-event="message" lay-text="消息中心">
                        <i class="layui-icon layui-icon-notice"></i>

                        &lt;!&ndash; 如果有新消息，则显示小圆点 &ndash;&gt;
                        <span class="layui-badge-dot"></span>
                    </a>
                </li>
                <li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <a href="javascript:;" layadmin-event="theme">
                        <i class="layui-icon layui-icon-theme"></i>
                    </a>
                </li>
                <li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <a href="javascript:;" layadmin-event="note">
                        <i class="layui-icon layui-icon-note"></i>
                    </a>
                </li>-->
                <li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <a href="javascript:;" layadmin-event="fullscreen">
                        <i class="layui-icon layui-icon-screen-full"></i>
                    </a>
                </li>
                <li class="layui-nav-item" lay-unselect>
                    <a href="javascript:;">
                        <img src="<?php echo Auth()->Avatar; ?>" class="avatar" />
                        <cite><?php echo Auth()->name; ?></cite>
                    </a>
                    <dl class="layui-nav-child">
<!--                        <dd><a lay-href="set/user/info.html">基本资料</a></dd>-->
<!--                        <dd><a lay-href="set/user/password.html">修改密码</a></dd>-->
<!--                        <hr>-->
                        <dd layadmin-event="logout" data-type="{if is_admin()}admin{/if}" style="text-align: center;"><a>退出</a></dd>
                    </dl>
                </li>

            </ul>
        </div>

        <!-- 侧边菜单 -->
        <div class="layui-side layui-side-menu">
            <div class="layui-side-scroll">
                <div class="layui-logo" lay-href="/Index/welcome">
                    <span>{if is_admin()}CMtime 晨明网络{else}外贸管理系统{/if}</span>
                </div>

                <ul class="layui-nav layui-nav-tree" lay-shrink="all" id="LAY-system-side-menu" lay-filter="layadmin-system-side-menu">
                    {volist name="menus" id="vo"}

                    {php}
                    if(permission($vo['route'])){
                    {/php}
                    {if isset($vo.show) && $vo.show }
                    <li data-name="{$vo.title}" class="layui-nav-item layui-this">
                    {else}
                    <li data-name="{$vo.title}" class="layui-nav-item">
                    {/if}
                        {if !isset($vo.children)}
                        <a href="javascript:;" lay-href="/admin/{$vo.route}" lay-tips="{$vo.title}" lay-direction="2">
                            <i class="layui-icon {$vo.icon}"></i>
                            <cite>{$vo.title}</cite>
                        </a>
                        {else}
                        <a href="javascript:;" lay-tips="{$vo.title}" lay-direction="2">
                            <i class="layui-icon {$vo.icon}"></i>
                            <cite>{$vo.title}</cite>
                        </a>
                        <dl class="layui-nav-child">
                            {volist name="vo.children" id="v1"}

                            {php}
                            if(permission($v1['route'])){
                            {/php}

                            <dd data-name="{$v1.title}">
                                {if !isset($v1.children)}
                                <a lay-href="/admin/{$v1.route}">{$v1.title}</a>
                                {else}
                                <a href="javascript:;">{$v1.title}</a>
                                <dl class="layui-nav-child">
                                    {volist name="v1.children" id="v2"}

                                    {php}
                                    if(permission($v2['route'])){
                                    {/php}
                                    <dd><a lay-href="/admin/{$v2.route}">{$v2.title}</a></dd>
                                    {php}
                                    }
                                    {/php}

                                    {/volist}
                                </dl>
                                {/if}
                            </dd>

                            {php}
                            }
                            {/php}

                            {/volist}
                        </dl>
                        {/if}
                    </li>
                    {php}
                    }
                    {/php}

                    {/volist}
                </ul>
            </div>
        </div>

        <!-- 页面标签 -->
        <div class="layadmin-pagetabs" id="LAY_app_tabs">
            <div class="layui-icon layadmin-tabs-control layui-icon-prev" layadmin-event="leftPage"></div>
            <div class="layui-icon layadmin-tabs-control layui-icon-next" layadmin-event="rightPage"></div>
            <div class="layui-icon layadmin-tabs-control layui-icon-down">
                <ul class="layui-nav layadmin-tabs-select" lay-filter="layadmin-pagetabs-nav">
                    <li class="layui-nav-item" lay-unselect>
                        <a href="javascript:;"></a>
                        <dl class="layui-nav-child layui-anim-fadein">
                            <dd layadmin-event="closeThisTabs"><a href="javascript:;">关闭当前标签页</a></dd>
                            <dd layadmin-event="closeOtherTabs"><a href="javascript:;">关闭其它标签页</a></dd>
                            <dd layadmin-event="closeAllTabs"><a href="javascript:;">关闭全部标签页</a></dd>
                        </dl>
                    </li>
                </ul>
            </div>
            <div class="layui-tab" lay-unauto lay-allowClose="true" lay-filter="layadmin-layout-tabs">
                <ul class="layui-tab-title" id="LAY_app_tabsheader">
                    <li lay-id="/admin/Index/welcome" lay-attr="/admin/Index/welcome" class="layui-this"><i class="layui-icon layui-icon-home"></i></li>
                </ul>
            </div>
        </div>


        <!-- 主体内容 -->
        <div class="layui-body" id="LAY_app_body">
            <div class="layadmin-tabsbody-item layui-show">
                <iframe src="/admin/Index/welcome" frameborder="0" class="layadmin-iframe"></iframe>
            </div>
        </div>

        <!-- 辅助元素，一般用于移动设备下遮罩 -->
        <div class="layadmin-body-shade" layadmin-event="shade"></div>
    </div>
</div>
<script src="/layuiadmin/layui/layui.js"></script>
<script>
    layui.config({
        base: '/layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index','curl'],function () {
        let $ = layui.jquery,curl = layui.curl;
        if('{$notice}'!== ''){
            layer.open({
                type: 1
                ,title: false
                ,closeBtn: false
                ,area: '300px;'
                ,shade: 0.8
                ,id: 'LAY_layuipro'
                ,btn: ['知道了']
                ,btnAlign: 'c'
                ,moveType: 1
                ,content: '<div style="padding: 50px; line-height: 22px; background-color: #393D49; color: #fff; font-weight: 300;">{$notice.content}</div>'
                ,success: function(layero){

                }
            });
        }
        $('#update').on('click',function () {
            curl.ajax('/admin/api.money/now','post',{},function (res) {
                    // layer.msg(res.msg);
                    $('#money_id .now_money').text(res.data.money);
                },
                function (err) {
                    layer.msg('异常');
                }
            );
        })
    });
</script>
</body>
</html>


