{extend name="base" /}
{block name="body"}
<form class="layui-form" action="" lay-filter="user_form">
    <div class="layui-form-item">
        <label class="layui-form-label">名称</label>
        <div class="layui-input-block" style="margin-right: 50px;">
            <input type="text" name="name" lay-verify="required" autocomplete="off" placeholder="名称"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">QQ</label>
        <div class="layui-input-block" style="margin-right: 50px;">
            <input type="text" name="qq" lay-verify="required" autocomplete="off" placeholder="QQ" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">微信</label>
        <div class="layui-input-block" style="margin-right: 50px;">
            <input type="text" name="qr" lay-verify="required" autocomplete="off" placeholder="微信" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">电话</label>
        <div class="layui-input-block" style="margin-right: 50px;">
            <input type="text" name="phone" lay-verify="required" autocomplete="off" placeholder="电话"
                   class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">启用</label>
        <div class="layui-input-block">
            <input type="checkbox" name="display" lay-skin="switch" checked>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" lay-filter="add">立即提交</button>
        </div>
    </div>
</form>
{/block}
{block name="script"}
<script>
    layui.config({
        base: '/layuiadmin/'
    }).extend({
        index: 'lib/index'
    }).use(['index', 'form', 'curl'], function () {
        let $ = layui.jquery,
            curl = layui.curl,
            form = layui.form;

        let iframe = parent.layer.getFrameIndex(window.name);
        form.on('submit(add)', function (data) {
            curl.ajax('{:url("api.service/store")}', 'post', data.field, function (res) {
                    layer.msg(res.msg);
                    if (res.status) {
                        setTimeout(function () {
                            parent.layer.close(iframe);
                            parent.location.reload();
                        }, 1000)
                    }
                },
                function (err) {
                    if (err.responseJSON.code === 10501) {
                        layer.msg('已存在');
                    }
                });
            return false;
        });
    });
</script>
{/block}
