{extend name="base" /}
{block name="body"}
    <form class="layui-form" action="" lay-filter="user_form">
        <div class="layui-form-item">
            <label class="layui-form-label">范围</label>
            <div class="layui-input-inline" style="width: 100px;">
                <input type="text" name="start" placeholder="￥" autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid">-</div>
            <div class="layui-input-inline" style="width: 100px;">
                <input type="text" name="end" placeholder="￥" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">佣金</label>
            <div class="layui-input-block" style="margin-right: 50px;">
                <input type="text" name="commission" lay-verify="required" autocomplete="off" placeholder="佣金" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit="" lay-filter="add">立即提交</button>
            </div>
        </div>
    </form>
{/block}
{block name="script"}
<script>
    layui.config({
        base: '/layuiadmin/'
    }).extend({
        index: 'lib/index'
    }).use(['index','form','curl'],function () {
        let $ = layui.jquery,
            curl = layui.curl,
            form = layui.form;

        let iframe = parent.layer.getFrameIndex(window.name);
        form.on('submit(add)', function(data){
            curl.ajax('/api.commission/store','post',data.field,function (res) {
                layer.msg(res.msg);
                if(res.status){
                    setTimeout(function () {
                        parent.layer.close(iframe);
                        parent.location.reload();
                    },1000)
                }
            },
                function (err) {
                    if(err.responseJSON.code===10501){
                        layer.msg('已存在');
                    }
                });
            return false;
        });
    });
</script>
{/block}
