{extend name="base" /}
{block name="body"}
<div class="layui-row">
    <!--<div class="layui-col-md7 btn_tools">
        <button class="layui-btn" data-type="AddAdmin">增加会员</button>
    </div>
    <div class="layui-col-md5" style="text-align: right;">
        <div class="layui-input-inline" style="width: 300px;">
            <input type="text" name="k" id="key" value="" placeholder="名称" class="layui-input key">
        </div>
        <button type="button" class="layui-btn sou">搜索</button>
    </div>-->
    <div class="line_20"></div>
    <div class="layui-col-md12">
        <table class="layui-hide" id="table_lay" lay-filter="userTable"></table>
    </div>
</div>
{/block}

{block name="script"}
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">审核</a>
</script>
<script>
    layui.config({
        base: '/layuiadmin/'
    }).extend({
        index: 'lib/index'
    }).use(['index', 'table', 'curl'], function () {
        let $ = layui.jquery, table = layui.table, curl = layui.curl;

        let render_table = table.render({
            elem: '#table_lay'
            , url: '/api.task/getTaskData'
            , parseData: function (res) {
                return {
                    "code": 0,
                    "msg": res.msg,
                    "count": res.data.total,
                    "data": res.data.data
                };
            }
            , page: true
            , limit: 20
            , cellMinWidth: 100
            , where: {
                status: 0
            }
            , cols: [[
                {field: 'id', width: 80, title: 'ID'}
                , {field: 'tid', title: '订单号', width: 180}
                , {
                    field: 'line', title: '线路', width: 100, templet: function (d) {
                        if (d.line) {
                            return d.line.name;
                        } else {
                            return '';
                        }
                    }
                }
                , {field: 'frozen_amount', width: 100, title: '商品总金额'}
                , {field: 'commission', width: 100, title: '佣金'}
                , {
                    field: 'sellers_how', width: 120, title: '增值业务金额', templet: function (d) {
                        let sum = 0;
                        if (d.sellers_how) {
                            sum = (sum * 100 + 0.5 * 100) / 100
                        }
                        if (d.collection_shops) {
                            sum = (sum * 100 + 0.5 * 100) / 100
                        }
                        if (d.collection_products) {
                            sum = (sum * 100 + 0.5 * 100) / 100
                        }
                        return sum;
                    }
                }
                , {field: 'shop_order_id', title: '商城交易号'}
                , {field: 'status', width: 100, title: '订单状态'}
                ,{field:'admin_remark',width:100,  title: '取消原因'}
                , {field: 'create_time', width: 110, title: '创建时间'}
                , {field: 'task_date', width: 170, title: '发布时间'}
                , {width: 137, title: '操作', toolbar: '#barDemo'}
            ]]
        });


        $('.sou').on('click', function (that) {
            render_table.reload({
                where: {
                    key: $('#key').val()
                }
            });
        });


        table.on('tool(userTable)', function (obj) {
            let data = obj.data;
            if (obj.event === 'edit') {
                let index = layer.open({
                    title: '修改' + data.tid,
                    type: 2,
                    content: ['/task/show?id=' + data.id],
                    area: ['70%', '80%'],
                    btn: ['接受', '拒绝'],
                    yes: function (index, layero) {
                        curl.ajax('/api.task/taskPass', 'post', {id: data.id,status:'处理中'}, function (res) {
                            layer.msg(res.msg);
                            if (res.status) {
                                layer.close(index);
                                setTimeout(function () {
                                    render_table.reload();
                                }, 500);
                            }
                        });
                    }
                    , btn2: function (index, layero) {

                        layer.prompt({
                            title:'请输入原因'
                        },function(value, index, elem){
                            curl.ajax('/api.task/cancel', 'post', {id: data.id,remark:value}, function (res) {
                                layer.msg(res.msg);
                                if (res.status) {
                                    layer.close(index);
                                    setTimeout(function () {
                                        render_table.reload();
                                    }, 500);
                                }
                            });
                            layer.close(index);
                        });
                    }
                });
            } else if (obj.event === 'del') {
                layer.confirm('真的删除[' + data.name + ']?', function (index) {
                    curl.ajax('/api.user/del', 'post', {id: data.id}, function (res) {
                        layer.msg(res.msg);
                    });
                    obj.del();
                    layer.close(index);
                });
            }
        });

        let active = {

        };

        $('.btn_tools .layui-btn').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });
</script>
{/block}