{extend name="base" /}
{block name="body"}
<div class="layui-row">
    <div class="layui-col-md7 btn_tools">
        <button class="layui-btn" data-type="AddAdmin">增加管理员</button>
    </div>
    <div class="layui-col-md5" style="text-align: right;">
        <div class="layui-input-inline" style="width: 300px;">
            <input type="text" name="k" id="key" value="" placeholder="名称" class="layui-input key">
        </div>
        <button type="button" class="layui-btn sou">搜索</button>
    </div>
    <div class="line_20"></div>
    <div class="layui-col-md12">
        <table class="layui-hide" id="table_lay" lay-filter="userTable"></table>
    </div>
</div>
<script type="text/html" id="barDemo">
    {{# if(d.username != 'cmtime'){  }}
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    {{# } }}
</script>

{/block}
{block name="script"}
<script>
    layui.config({
        base: '/layuiadmin/'
    }).extend({
        index: 'lib/index'
    }).use(['index', 'table', 'curl'], function () {
        let $ = layui.jquery, table = layui.table, curl = layui.curl;

        let render_table = table.render({
            elem: '#table_lay'
            , url: '/admin/api.user/getUserData'
            , where: {type: 'admin'}
            , parseData: function (res) {
                return {
                    "code": 0,
                    "msg": res.msg,
                    "count": res.data.length,
                    "data": res.data
                };
            }
            , cellMinWidth: 80
            , cols: [[
                {field: 'id', width: 80, title: 'ID', sort: true}
                , {field: 'name', width: 120, title: '名称'}
                , {field: 'username', width: 120, title: '用户名'}
                , {
                    field: 'Sex', width: 80, title: '性别', templet: function (d) {
                        if (d.Sex == 1) {
                            return '男';
                        } else {
                            return '女';
                        }
                    }
                }
                // ,{field:'Description', title: '描述'}
                , {field: 'role_name', title: '角色'}
                , {width: 137, title: '操作', toolbar: '#barDemo'}
            ]]
        });

        table.on('tool(userTable)', function (obj) {
            let data = obj.data;
            if (obj.event === 'edit') {
                let index = layer.open({
                    title: '修改' + data.name,
                    type: 2,
                    content: ['/user/edit?type=admin&id=' + data.id, 'no'],
                    area: ['500px', '450px'],
                    success: function (layero, index) {
                    },
                });
            } else if (obj.event === 'del') {
                layer.confirm('真的删除[' + data.name + ']?', function (index) {
                    curl.ajax('/admin/api.user/del', 'post', {id: data.id}, function (res) {
                        layer.msg(res.msg);
                    });
                    obj.del();
                    layer.close(index);
                });
            }
        });

        $('.sou').on('click', function (that) {
            render_table.reload({
                where: {
                    key: $('#key').val()
                }
            });
        });

        let active = {
            AddAdmin: function () {
                let index = layer.open({
                    title: '添加管理员',
                    type: 2,
                    content: ['{:url("user/create")}?type=admin', 'no'],
                    area: ['500px', '450px'],
                    success: function (layero, index) {
                    },
                });
            }
        };

        $('.btn_tools .layui-btn').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });
</script>
{/block}